$dark-grey: #2d303a;
$white: #ffffff;
$rose-red: #f06c64;
$grey: #666d89;
$black: #000000;
$rose: #eca9a5;
$light-gray: #bbbbbb;
$light-black: #323746;

$body-font: Lato, sans-serif;

$heading-font-second-level: 1.875rem;
$headline-font-size: 1.5625rem;
$heading-font-paragraph: 1.125rem;
$body-font-size: 0.75rem;

$border-radius-small: 5px;
$border-radius-big: 50%;

$screen-small: 319px;
$screen-medium: 767px;
$screen-larger: 1019px;
